
<div class='design real button noselect hov'>
	<span class='cmplabel nobreak'>Button</span>
</div>

<div class='design textbox cmplabel'>Textbox</div>
<input class='real textbox cmpval' />

<div class='design textarea cmplabel'>Textarea</div>
<textarea class='real textarea cmpval' >Textarea</textarea>

<div class='design real label cmplabel'>Label</div>

<div class="design real container panel">
	<span class='cmplabel noselect'></span>
</div>

<div class="design real container form">
	<div class='form-btn form-close ui-icon ui-icon-closethick noselect'></div>
	<div class='titlebar noselect cmplabel nobreak'>Form</div>
</div>

<div class='design real image cmplabel'>IMG</div>

<div class='design real checkbox noselect hov'>
	<input type=checkbox id=check_id />
	<label for=check_id class='cmplabel'>Checkbox</label>
</div>

<div class='design real radio noselect hov'>
	<input type=radio id=radio_id />
	<label for=radio_id class='cmplabel'>Radio</label>
</div>

<div class='design combo hov cmplabel'>Combo box</div>
<select class='real combo hov cmpval'>
	<option value='option1'>Option 1</option>
	<option value='option2'>Option 2</option>
	<option value='option3'>Option 3</option>
</select>

<div class='design real list'>List</div>

<div class='design real table'>
	<table>
		<tr id=r1 class='noselect'> <td id=c1 class='cmplabel'>Column1</td> <td id=c2>Column2</td> <td id=c3>Column3</td> </tr>
		<tr> <td id=c1>&nbsp</td>    <td id=c2></td>    <td id=c3></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
	</table>
</div>

<div class='design real shape'>SHP</div>
<div class='design real line'>LIN</div>