
.component[cmp_version=blue], .component[cmp_version=blue].form .titlebar {
	/*background-color: #2698f5;*/
	background-color: #63b9ff;
	/*color: #cedbec;*/
	color: #042e64;
}
.component[cmp_version=blue].hov:hover, .component[cmp_version=blue].table tr:hover {
	background-color: #4da0e4;
}
.component[cmp_version=blue].form, .component[cmp_version=blue].panel {
	/*background-color: #90cdff;*/
	background-color: #d0eaff;
	/*border: 1px solid #7eaae2 !important;*/
	border-color: #7eaae2 !important;
	box-shadow: 1px 1px 3px 0px #7bbaf3;
	border-width: 1px !important;
}
.component[cmp_version=blue].button {
	background-color: #337ead;
	border-color: #7eaae2 !important;
	color: #ffffff !important;
	box-shadow: 1px 1px 3px 0px #7bbaf3;
	border-width: 1px !important;
}

.component[cmp_version=gold] {
	background-color: #c3c5bc;
	color: #000000;
}
.component[cmp_version=gold].hov:hover, .component[cmp_version=gold].form .titlebar, .component[cmp_version=gold].table tr:hover {
	background-color: #b2b490;
}



.component[cmp_version=green] {
	background-color: #128329;
	color: #cedbec;
}
.component[cmp_version=green].hov:hover, .component[cmp_version=green].form .titlebar, .component[cmp_version=green].table tr:hover {
	background-color: #32b54c;
}




#main_center .component {
	position: absolute;
	border: 1px solid #000;
}

#main_center .nobreak {
	white-space: pre;
}

#main_center .component.button {
	border: 0px solid #000;
	/*background-color: #c5c4bc;*/
	/*background-color: #1e7dca;*/
	font-size: 10pt;
	border-radius: 5px;
	/*color: #cedbec;*/
	/*text-align: center;*/
	/*transition: 0.2s;*/
}
#main_center .component.button:active {
	transform: translate(1px, 1px);
}
#main_center .component.button:hover {
	/*background-color: #4da0e4;*/
}
#main_center .component.button > span {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%,-50%);
	transform: translate(-50%, -50%);
	left: 50%;
}

#main_center .component.panel {
	border-radius: 5px;
}
#main_center .component.panel > span.cmplabel {
	margin: 7px;
}

#main_center .component.textbox {
	/*background-color: #eee;*/
	/*border: 1px solid #4b4a46;*/
}
#main_center .component.label {
	background-color: transparent;
	border: none;
}



#main_center .component.checkbox {
	background-color: transparent;
	border: none;
}



#main_center .component.radio {
	background-color: transparent;
	border: none;
}



#main_center .component.container {
	/*overflow: auto;*/
}



#main_center .component.form {
	z-index: 1000;
	border-radius: 5px;
	/*background: #c3c5bc;*/
}
#main_center .component.form .titlebar {
	padding: 3px 0px 3px 10px;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 20px;
	/*background: #b2b490;*/
	cursor: default;
	font-weight: bold;
}
#main_center .component.form .form-close {
	position: absolute;
	right: 5;
	top: 8px;
	cursor: default;
	border-radius: 3px;
}
#main_center .component.form .form-close:hover {
	background-color: #4581d4 !important;
}

#main_center .component.form.design > .titlebar {
	cursor: move;
}




#main_center .component.table {
	overflow-x: hidden;
	overflow-y: scroll;
	/*border: 1px solid #333333;*/
}
#main_center .component.table table * {
	font-size: 11px;
}
#main_center .component.table table {
	/*position: relative;*/
	border-collapse: collapse;
	border-left: 0px;
	border-right: 0px;
}
#main_center .component.table td {
	padding: 3px;
	height: 15px;
	min-width: 45px;
	border: 1px solid #333333;
	border-left: 0px;
	border-bottom: 0px;
	overflow: hidden;
	white-space: nowrap;
}
#main_center .component.table tr {
	border: 0px;
}
#main_center .component.table tr:hover {
	/*background-color: #AACCFF;*/
}

#main_center .component.table #r1 {
	position: fixed;
	background: #CCCCCC;
}
#main_center .component.table #r1 td {
	border: 1px solid #CCCCCC;
}

#main_center .component.table #c1 { width: 60px; max-width: 60px; min-width: 60px; }
#main_center .component.table #c2 { width: 60px; max-width: 60px; min-width: 60px; }
#main_center .component.table #r1 #c1 { width: 60px; max-width: 60px; min-width: 60px; }
#main_center .component.table #r1 #c2 { width: 55px; max-width: 55px; min-width: 55px;}





.component .ui-resizable-se {
    background-image: url("") !important;
}