
#main_top {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
}

#main_left {
	width: 90px;
	bottom: 30px;
	left: 0px;
	top: 50px;
}

#main_right {
	width: 300px;
	top: 50px;
	bottom: 30px;
	right: 0px;
}

#main_down {
	left: 0px;
	right: 0px;
	height: 30px;
	bottom: 0px;
}
#main_down > span {
	display: inline-block;
	width: 30px;
	text-align: right;
}
#main_wrap td {
	border: 1px solid #3333AA;
}

#main_left {
	width: 95px;
	max-width: 25%;
	
}

#main_left > #components > div {
	margin: 3px;
	padding: 7px 15px;
}
#main_left > #components > .selected, #main_left > #components > div:HOVER {
	background-color: #56bdf5;
	
}

#main_left #components #new_label {}
#main_left #components #new_textbox {}
#main_left #components #new_textarea {}
#main_left #components #new_form {}
#main_left #components #new_button {}
#main_left #components #new_checkbox {}
#main_left #components #new_radio {}
#main_left #components #new_combo {}
#main_left #components #new_panel {}
#main_left #components #new_table {}

#main_center_wrap {
	left: 90px;
	right: 300px;
	top: 50px;
	bottom: 30px;
	background-color: #dbdbd8;
}

#root > #main_center_wrap {
	background:
		linear-gradient(90deg, #bbb 9px, transparent 0%),
		linear-gradient(#bbb 9px, transparent 0%),
		#000;
	background-size: 10px 10px;
}

#main_center {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	
}

#main_center .component#new_tmp_item {
	border: 1px dotted #000;
}
#main_center .component.clicked {
	border: 1px dashed #000000 !important;
}


#main_center > #new_tmp_item {
	width: 0px;
	height: 0px;
	top: -10px;
	left: -10px;
}

.hndl {
	cursor: move;
	margin: 5px;
}

#toolbar {
	border: 1px solid #333333;
	margin: 3px;
	padding: 2px;
}
#toolbar > div, #export_toolbar > div, #code_toolbar > div {
	display: inline;
}
#main_menu {
	border: 1px solid #333333;
	margin: 3px;
	padding: 2px;
}
#main_menu > div {
	display: inline;
}

.icon-wrap > div {
	border: 1px solid #333333;
	width: 32px;
	height: 32px;
	margin: 2px;
	cursor: default;
}
.icon-wrap > div:hover {
	background-color: #CCCCCC;
}

.icon-wrap > div.selected {
	color: #CC0000;
}

#components > div {
	display: inline-block;
}

#properties, #project_structure {
	/*border: 1px solid #000;
	margin: 2px;*/
	height: 50%;
}

.project_element {
	cursor: default;
}
.project_element.selected {
	background: #a2bbd3;
}

#properties {
	overflow-x: hidden;
	overflow-y: scroll;
	/*border: 1px solid #333333;*/
}
#properties table * {
	font-size: 11px;
}
#properties table {
	/*position: relative;*/
	border-collapse: collapse;
	border-left: 0px;
	border-right: 0px;
}
#properties td {
	padding: 3px;
	border: 1px solid #333333;
	border-left: 0px;
	border-bottom: 0px;
	overflow: hidden;
	white-space: nowrap;
	width: 145px; max-width: 145px; min-width: 145px;
}
#properties tr {
	border: 0px;
}
#properties tr:HOVER {
	background-color: #AACCFF;
}

#r1 {
	position: fixed;
	background: #CCCCCC;
}
#r1 td {
	border: 1px solid #CCCCCC;
}

#c1 { width: 145px; max-width: 145px; min-width: 145px; }
#c2 { width: 145px; max-width: 145px; min-width: 145px; }
#r1 #c1 { width: 145px; max-width: 145px; min-width: 145px; }
#r1 #c2 { width: 124px; max-width: 124px; min-width: 124px;}


#form_export {
	position: absolute;
	z-index: 10000;
	left: 80px;
	top: 80px;
	right: 80px;
	bottom: 80px;
	background: #fff;
	border: 1px solid #555;
}

#export_code_panel, #export_code_panel_main {
	margin: 30px 5px 5px 5px;
	width: 99%;
	height: 88%;
	background: #b8cce0;
}
#export_code_panel textarea, #export_code_panel_main textarea {
	width: 100%;
	height: 100%;
	font-family: monospace;
	resize: none;
}
#export_preview_panel {
	margin: 30px 5px 5px 5px;
	width: 99%;
	height: 88%;
	background: #f1f3dc;
}



#code_editor {
	position: absolute;
	z-index: 10000;
	left: 80px;
	top: 80px;
	right: 300px;
	bottom: 300px;
	background: #fff;
	border: 1px solid #555;
}
#code_panel textarea {
	width: 100%;
	height: 100%;
	font-family: monospace;
	resize: none;
}