


<link id=project_style rel="stylesheet" type="text/css" href="components/default.css"/>

<div class='design real button'>
	<span>ButtonDefault</span>
</div>

<div class='design textbox'>Textbox</div>
<input class='real textbox' />

<div class='design textarea'>Textarea</div>
<textarea class='real textarea' >Textarea</textarea>

<div class='design real label'>Label</div>

<div class="design real container panel"></div>

<div class="design real container form">
	<div class='form-btn form-close ui-icon ui-icon-closethick'></div>
	<div class=titlebar>Form</div>
</div>

<div class='design real image'>IMG</div>

<div class='design real checkbox'>
	<input type=checkbox id=check_id />
	<label for=check_id>Checkbox</label>
</div>

<div class='design real radio'>
	<input type=radio id=radio_id />
	<label for=radio_id>Radio</label>
</div>

<div class='design combo'>Combo box</div>
<select class='real combo'>
	<option value='option1'>Option 1</option>
	<option value='option2'>Option 2</option>
	<option value='option3'>Option 3</option>
</select>

<div class='design real list'>List</div>

<div class='design real table'>
	<table>
		<tr id=r1> <td id=c1>Column1</td> <td id=c2>Column2</td> <td id=c3>Column3</td> </tr>
		<tr> <td id=c1>&nbsp</td>    <td id=c2></td>    <td id=c3></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
		<tr> <td></td>    <td></td>    <td></td> </tr>
	</table>
</div>

<div class='design real shape'>SHP</div>
<div class='design real line'>LIN</div>